<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task Tracker</title>
</head>

<body  class="container">
    <div class="container">
        <div  class="row">
            <div class="bg-white col-md-3">
            </div>
            <div class="bg-white col-md">
                <h1>User Admin</h1>
            </div>
            <div class="bg-white col-md-1">
                <form th:action="@{/user/add}">
                    <input type="submit" name="action" value="Add" class="btn btn-primary"/>
                </form>
            </div>
        </div>
        <div  class="row">
            <div class="bg-white col-md-3">
                <form th:action="@{/users}">
                    <div class="bg-white">
                        Name:
                    </div>
                    <div class="bg-white">
                        <input class="form-control"
                               type="text"
                               th:value="${nameFilter}" id="nameFilter" name="nameFilter"
                               th:placeholder="name"
                        />
                    </div>
                    <div class="bg-white">
                        Status:
                    </div>
                    <div class="bg-white">
                        <select  class="form-control" name = "statusFilter" >
                            <option th:each="status : ${T(com.dennn66.tasktracker.entities.User.Filter).values()}"
                                    th:value="${status}"
                                    th:text="${status.displayValue}"
                                    th:selected="${status  == T(com.dennn66.tasktracker.entities.User.Filter).valueOf((statusFilter == 'null' || statusFilter == null)? 'ALL': statusFilter)}">
                            </option>
                        </select>
                    </div>
                    <div class="bg-white">
                        <input type="submit" value="Filter" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
            <div class="bg-white col-md">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u : ${usersPage.getContent()}">
                        <th scope="row" th:text="${u.id}"></th>
                        <td><a th:href="@{/user/{userId}/details(userId=${u.id})}"  th:text="${u.name}"></a></td>
                        <td th:text="${u.email}"></td>
                        <td th:text="${u.status.getDisplayValue()}"></td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${usersPage.getNumber() + 1 == i ? 'active' : ''}"
                            th:each="i : ${#numbers.sequence(1, (usersPage.getTotalPages() > 0)?usersPage.getTotalPages():1)}">
                            <a th:class="page-link" th:text="${i}"
                               th:href="@{'/users/?pageNumber=' + ${i} +
                                '&statusFilter=' + ${statusFilter} +
                                '&nameFilter=' + ${nameFilter}

                               }"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>