<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task Tracker</title>
</head>

<body  class="container">
    <h1>Task Tracker</h1>
    <br>
    <a th:href="@{/tasks/show}">All Tasks</a>
    <br>
    <a th:href="@{/tasks/show_form}">Add Task</a>
</body>
</html>